[submodule "lib/boost"]
	path = lib/boost
	url = git://github.com/boostorg/boost
[submodule "lib/cmake-modules"]
	path = lib/cmake-modules
	url = git://github.com/Zeex/cmake-modules
[submodule "lib/eigen"]
	path = lib/eigen
	url = git://github.com/eigenteam/eigen-git-mirror
[submodule "lib/samp-plugin-sdk"]
	path = lib/samp-plugin-sdk
	url = git://github.com/Zeex/samp-plugin-sdk
[submodule "lib/omp-sdk"]
	path = lib/omp-sdk
	url = https://github.com/openmultiplayer/open.mp-sdk
[submodule "lib/omp-gdk"]
	path = lib/omp-gdk
	url = https://github.com/openmultiplayer/open.mp-gdk
