#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
1 VERSIONINFO
	FILEVERSION 2,8,0,0
{
	BLOCK "StringFileInfo"
	{
		BLOCK "04090025"
		{
			VALUE "FileDescription", "SA-MP Streamer Plugin"
			VALUE "LegalCopyright", "Copyright © 2016 Incognito"
			VALUE "OriginalFilename", "streamer.dll"
			VALUE "ProductName", "SA-MP Streamer Plugin"
			VALUE "ProductVersion", "v2.8"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 1033, 37
	}
}
